body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(179, 131, 211);
    color: wheat;
}

.divMain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divMain >h1{
    letter-spacing: 5px;
    font-size: 70pt;
    font-family: impact;
    font-weight: bold;
    border-color: white;
}
.divH1 >h2{
    letter-spacing: 2px ;
    font-size: 20pt;
    font-family: Impact;
    font-weight: normal;
}
.divImg{
    width: 25vw;
}

.diInput{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btnLogin{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-family: impact;
    font-weight: normal;
    font-size: 20pt;
    letter-spacing: 2px;
    color: white;
}

.btnCad{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-family: impact;
    font-weight: normal;
    font-size: 20pt;
    letter-spacing: 2px;
    color: white;
}